$black: #000;
$black1: #0000000d;
$black2: #00090d8a;

$white: #fff;
$white1: #eeeeee;
$white2: #ddeaec;
$white3: #ccc;
$white4: #f9f9f9;

$grey: #c4c4c4;
$grey1: #888;
$grey2: #6c6c6b56;
$grey3: #a9a9a9;
$grey4: #666666;

$green: #2e5457;

$orange: #e88e7b;
$orange1: #c26b3d;
$orange2: #d68c6f;
$orange3: #db8b74;
$orange4: #f39180;
$orange5: #e38880;
$orange6: #e85c66;

$purple: #744fa8bf;
