@import "../../../assets/styles/variable.scss";

.container {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: $white;
  cursor: pointer;
  margin-top: 20px;
  height: 55px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-color: $orange;
  color: $white1;
  border-color: $grey4;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 9px;

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background-position: unset;
    transition: unset;
  }
}
