.container {
  text-align: center;
  padding: 15px 30px;

  .title {
    margin: 10px;
    color: #040107;
  }

  .text {
    display: block;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 35px;
  }
}
