@import "../../assets/styles/variable.scss";

.container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    background-color: $white;
    padding: 40px;
    border: 1px solid $grey1;
    width: 50%;
    position: relative;
    border-radius: 11px;
    box-sizing: content-box;

    .modalTitle {
      h1 {
        gap: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: $black;
        margin: 10px;
      }
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      &:hover {
        border-radius: 50%;
        background-color: $black1;
      }
    }
  }
}
